.my_assessment_details {
  flex-basis: 85%;
  background-color: white;
  display: flex;
  width: 85rem;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex-shrink: 0;
  padding-bottom: 50px;
}

.text-wrapper-001 {
  color: #1c4980;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  padding-left: 30px;
}
